.businessContainer {
  background-image: url('/assets/businessBg.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;

  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 100px;

  .left {
    max-width: 470px;
    margin-right: 45px;

    h2 {
      font-family: 'Inter';
      font-weight: 700;
      font-size: 42px;
      line-height: 50px;
      color: #99efd0;
    }

    p {
      font-weight: 400;
      font-size: 15px;
      line-height: 28px;
      letter-spacing: 0.5px;
      color: #8476aa;
      margin-top: 32px;
      margin-bottom: 43px;
    }
  }
}
@media screen and (max-width: 950px) {
  .businessContainer {
    padding: 0 45px;

    .left {
      margin-right: 15px;
      max-width: 400px;

      h2 {
        font-size: 32px;
        line-height: 40px;
      }

      p {
        font-size: 13px;
        line-height: 18px;
        margin-top: 32px;
        margin-bottom: 33px;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .businessContainer {
    flex-direction: column;
    .left {
      text-align: center;
      margin-right: 0;
      margin-bottom: 40px;
    }

    .right {
      img {
        max-height: 320px;
      }
    }
  }
}
