.features {
  padding-bottom: 160px;

  h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    color: #99efd0;
    margin: 0;
    margin-bottom: 13px;
  }

  .desc {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #8476aa;
    margin: 0;
    margin-bottom: 50px;
  }

  .featuresContainer {
    display: grid;
    justify-content: center;
    gap: 2rem;
    grid-template-columns: repeat(3, 299px);
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1050px) {
  .features {
    .featuresContainer {
      grid-template-columns: repeat(2, 299px);
    }
  }
}

@media screen and (max-width: 720px) {
  .features {
    h2 {
      font-size: 32px;
      line-height: 50px;
    }
    .desc {
      font-size: 14px;
      line-height: 20px;
      padding: 0 40px;
    }
    .featuresContainer {
      grid-template-columns: repeat(1, 299px);
      gap: 1rem;
    }
  }
}
